<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <h1>Products</h1><!--products page title.-->
    <% if (error) { %>
        <div style="color: red;">
            <%= error %> <!--error message if a product that is in use is attempting to delete.-->
        </div>
        <% } %>

            <table>
                <thead>
                    <tr>
                        <th>Product ID</th><!--titles-->
                        <th>Description</th>
                        <th>Store ID</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(function(product) { %><!--displaying each product-->
                        <tr>
                            <td>
                                <%= product.pid %><!--displaying product id-->
                            </td>
                            <td>
                                <%= product.productdesc %><!--displaying product description-->
                            </td>
                            <td>
                                <%= product.sid || '' %><!--displaying product store id-->
                            </td> 
                            <td>
                                <%= product.location || '' %><!--displaying location of the store that is stocking te product-->
                            </td> 
                            <td>
                                <%= product.price !=null ? product.price.toFixed(2) : '' %><!--displaying the price of the product-->
                                    
                            </td>
                            <td>
                                <form action="/products/delete/<%= product.pid %>" method="post"><!--deleting the product id using my post method in app.js-->
                                    <button type="submit">Delete</button><!--delete button-->
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>

            <a href="/">Home</a><!--links back to home page--><br>
            <a href="/products/add">Add Product</a><!--links back to home page-->
</body>

</html>